.ui-rangeSlider {
    height: 30px;
    padding-top: 40px;
}
.ui-rangeSlider, .ui-rangeSlider-container, .ui-rangeSlider-arrow {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.ui-rangeSlider-withArrows .ui-rangeSlider-container {
    margin: 0 15px;
}

.ui-rangeSlider-disabled.ui-rangeSlider-noArrow .ui-rangeSlider-container {
    border-color: #8490a3;
}
.ui-rangeSlider-container, .ui-rangeSlider-arrow {
    height: 20px;
}
.ui-rangeSlider-disabled .ui-rangeSlider-container, .ui-rangeSlider-disabled .ui-rangeSlider-arrow {
    border-top-color: #49576b;
    border-bottom-color: #9ca7b3;
}
.ui-rangeSlider-container, .ui-rangeSlider-arrow, .ui-rangeSlider-label {
    background: #EBEBEB;
}
.ui-rangeSlider-disabled .ui-rangeSlider-container, .ui-rangeSlider-disabled .ui-rangeSlider-arrow, .ui-rangeSlider-disabled .ui-rangeSlider-label {
    background: #95a4bd;
}
.ui-rangeSlider-arrow {
    width: 14px;
    cursor: pointer;
}
.ui-rangeSlider-leftArrow {
    border-radius: 4px 0 0 4px;
    border-left: solid 1px #515862;
}
.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow {
    border-left-color: #8792a2;
}
.ui-rangeSlider-rightArrow {
    border-radius: 0 4px 4px 0;
    border-right: solid 1px #515862;
}
.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow {
    border-right-color: #8792a2;
}
.ui-rangeSlider-arrow-inner {
    position: absolute;
    top: 70%;
    border: 6px solid transparent;
    width: 0;
    height: 0;
    margin-top: -10px;
}
.ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner {
    border-right: 6px solid #a4a8b7;
    left: 30%;
    margin-left: -8px;
}
.ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner {
    border-right: 6px solid #b3b6c2;
}
.ui-rangeSlider-disabled .ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner, .ui-rangeSlider-disabled .ui-rangeSlider-leftArrow:hover .ui-rangeSlider-arrow-inner {
    border-right-color: #bbc0cf;
}
.ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner {
    border-left: 6px solid #a4a8b7;
    right: 30%;
    margin-right: -8px;
}
.ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner {
    border-left: 6px solid #b3b6c2;
}
.ui-rangeSlider-disabled .ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner, .ui-rangeSlider-disabled .ui-rangeSlider-rightArrow:hover .ui-rangeSlider-arrow-inner {
    border-left-color: #bbc0cf;
}
.ui-rangeSlider-innerBar {
    width: 110%;
    height: 100%;
    left: -10px;
    overflow: hidden;
}
.ui-rangeSlider-bar {
    background: #8000FF;
    height: 19px;
    margin: 1px 0;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
}

.ui-rangeSlider-handle {
    width: 10px;
    height: 30px;
    background: transparent;
    cursor: col-resize;
}
.ui-rangeSlider-label {
    padding: 5px 10px;
    bottom: 40px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
    font-size: 1em;
    cursor: col-resize;
}
.ui-rangeSlider-label-inner {
    position: absolute;
    top: 100%;
    left: 50%;
    display: block;
    z-index: 99;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin-left: -10px;
    border-top: 6px solid #888DA0;
}
